.menu {
  width: 220px;
  max-height: 100%;
  height: 100%;
  padding-top: 10px;
  background-color: #ffdfe3 !important;
}

.toolbar {
  box-shadow: 0 6px 2px -6px #b9a6a9fa;
  display: flex;
  justify-content: space-between;
}

.listStyle {
  padding: 0 !important;
  padding-left: 10px !important;
  &.active {
    border-left: 5px #1f1f1f solid;
    box-sizing: border-box;
    padding-left: 5px !important;
    background-color: rgba(0, 0, 0, 0.04);
    .listText * {
      font-weight: bold;
    }
  }
}

.listText {
  font-size: 20px;
  color: #1f1f1f;
  font-weight: 500;
  text-transform: capitalize;
}

.MuiTableCell-head {
  text-transform: capitalize;
  font-weight: bold !important;
  text-align: center;
  color: #fda7b4 !important;
}

.tblRow {
  text-transform: capitalize;
}

.chip {
  height: 25px !important;
  font-weight: bold;
  width: 100px;

  &.paid {
    background-color: #d4edda;
    color: #1f5d2c;
  }

  &.pending {
    background-color: #f8d7da;
    color: #79252d;
  }
}
.chip_wrapper {
  padding: 0px !important;
}

.icon {
  color: #fda7b4;
}

.progress_circle {
  display: inline;
  margin-top: 14px;
  position: absolute;
  margin-left: -40px;
}
.MuiDialog-paperWidthSm {
  max-width: 730px !important;
  #simple-dialog-title {
    text-align: center;
    text-transform: uppercase;
  }
}
