.menu {
  width: 220px;
  max-height: 100%;
  height: 100%;
  padding-top: 10px;
  background-color: #ffdfe3 !important;
}

.toolbar {
  box-shadow: 0 6px 2px -6px #b9a6a9fa;
  display: flex;
  justify-content: space-between;
}

.listStyle {
  padding: 0 !important;
  padding-left: 10px !important;
  &.active {
    border-left: 5px #1f1f1f solid;
    box-sizing: border-box;
    padding-left: 5px !important;
    background-color: rgba(0, 0, 0, 0.04);
    .listText * {
      font-weight: bold;
    }
  }
}

.listText {
  font-size: 20px;
  color: #1f1f1f;
  font-weight: 500;
  text-transform: capitalize;
}
.containerStyle {
  max-width: 65%;
  margin: 50px 215px;
  .MuiTableCell-head {
    text-transform: capitalize;
    font-weight: bold !important;
    text-align: center;
    color: #fda7b4
  }
}
.MuiTableCell-body {
  text-align: center !important;
}

.icon{
  color: #fda7b4;
}
